name: Backend Docker Release

on:
  repository_dispatch:
    types: [new-version]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  
    steps:
      - uses: actions/checkout@v4

      - name: Set VERSION from app
        run: echo "VERSION=${{ github.event.client_payload.version }}" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg VERSION=$VERSION \
            -t ghcr.io/${{ github.repository }}:$VERSION \
            -t ghcr.io/${{ github.repository }}:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:$VERSION
          docker push ghcr.io/${{ github.repository }}:latest
